*{
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #f4c7ed;
}
header{
    background-color: black;
    font-size: 55px;
    border: solid black 6px;
}
footer{
    background-color: #f4a4e7;
    text-align: end;
    font-size: 7px;
    border-style: outset;

}
p{
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}
img{
    border: solid black;
}
li{
    text-align: left;
}
.borde{
    border: solid black 2px;
    border-radius: 27px;
    margin: 10px;
}
button{
    border: solid #f4c7ed;
    font-size: 18px;
}
a{
    font-size: 18px;
    font-weight: bold;
}
div p a{
    font-size: 20px;
    text-decoration: underline;
}