*{
    text-align: center;
    font: 16px comic;
    background-color: #f4c7ed;
}
header{
    background-color: black;
    color: white;
    font-size: 60px;
}
footer{
    background-color: black;
    text-align: end;
}
p{
    font-size: 30px;
}
li{
    text-align: left;
}