*{
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #f4c7ed;
}
header{
    background-color: black;
    color: white;
    font-size: 55px;
}
footer{
    background-color: black;
    text-align: end;
}
p{
    font-size: 20px;
}
li{
    text-align: left;
}
.borde{
    border: solid black 2px;
    border-radius: 27px;
    margin: 10px;
}
button{
    border: solid #f4c7ed;
}
a{
    font-size: 18px;
    font-weight: bold;
}